<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	</head>
	<body ng-app="CatalogExampleApp">
		
  		<div ng-controller="ExampleController" class="container">
										
			<h3 class="text-muted" style="margin-bottom: 40px">Catalog search example</h3>			  						  			
			<div class="row">
				<div class="col-md-4">
					<form class="form-inline" ng-submit="search()">						
						<input ng-model="q" type="text" class="form-control">
						<input type="submit" style="position: absolute; left: -9999px"/>													
					</form>															
																				
					<div ng-if="searchResult.aggregations.colors.buckets.length > 0">
						<h3>Color</h3>
						<ul class="list-unstyled" ng-repeat="bucket in searchResult.aggregations.colors.buckets">
							<li><a href="#" ng-click="setColor(bucket.key)">{{bucket.key}} ({{bucket.doc_count}})</a> <a href="#" ng-if="color != null && color == bucket.key" ng-click="removeColor(bucket.key)"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></li>
						</ul>
					</div>
					
					<div ng-if="searchResult.aggregations.skus.with_stock.sizes.buckets.length > 0">
						<h3>Size</h3>
						<ul class="list-unstyled" ng-repeat="bucket in searchResult.aggregations.skus.with_stock.sizes.buckets">							
							<li><a href="#" ng-click="setSize(bucket.key)">{{bucket.key}} ({{bucket.shirts_count.doc_count}})</a> <a href="#" ng-if="size != null && size == bucket.key" ng-click="removeSize(bucket.key)"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></li>
						</ul>
					</div>
					
					<div ng-if="searchResult.aggregations.skus.with_stock.prices.buckets.length > 0">
						<h3>Price</h3>
						<ul class="list-unstyled" ng-repeat="bucket in searchResult.aggregations.skus.with_stock.prices.buckets">							
							<li><a href="#" ng-click="setPrice(bucket)">{{bucket.key}} ({{bucket.doc_count}})</a> <a href="#" ng-if="price != null && price.key == bucket.key" ng-click="removePrice(bucket.key)"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></li>
						</ul>
					</div>
					
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-sm-6 col-md-4" ng-repeat="hit in searchResult.hits.hits">							
							<div class="thumbnail">																
							<img ng-src="images/{{hit._source.img}}" alt="...">
							<div class="caption">
								<h3>{{hit._source.name}}</h3>
								<p>{{hit._source.code}}</p>
								<p><a href="#" class="btn btn-primary" role="button">Add to cart</a></p>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>									
		</div>
			
		<script src="../bower_components/angular/angular.js"></script>
  		<script src="../bower_components/elasticsearch/elasticsearch.angular.js"></script>
		  
		<script>
			
			var CatalogExampleApp = angular.module('CatalogExampleApp', ['elasticsearch']);
			
			CatalogExampleApp.service('client', function (esFactory) {
			return esFactory({
				host: 'localhost:9200'								
			});
			});
			
			CatalogExampleApp.controller('ExampleController', function ($scope, client, esFactory) {																														
				
				$scope.search = function(){								
					client.search({
						index: 'demo',
						type: 'shirts',
						body:{
							query: {
								filtered: {
									query: ($scope.q ? 
									{
										bool: {
											should: [
												{ match: { name: { query: $scope.q, boost: 2 } }},
												{ match: { description: $scope.q }},
												{ wildcard: { code: '*'+$scope.q.toLowerCase()+'*' }}
											]
										}
									} : 
									{
										match_all : {}
									}),
									filter: {
										bool: {
											must: [
												{
													term: ($scope.color ? 
													{
														color: $scope.color 
													} : 
														undefined
													)	
												},												
												{
													nested: {
														path: 'skus',
														query: {
															bool: {																
																must: [
																	{ 
																		range: {
																			'skus.stock': {
																				gt: 0
																			}																																						
																		}																	
																	},
																	{
																		term: ($scope.size ? 
																		{
																			'skus.size': $scope.size 
																		} : 
																			undefined
																		)	
																	},
																	{
																		range: ($scope.price ? 
																		{
																			'skus.price': {
																				gte: $scope.price && $scope.price.from ? $scope.price.from : 0,  // from
																				lt: $scope.price && $scope.price.to ? $scope.price.to : undefined // to
																			} 
																		} : 
																			undefined
																		)	
																	}
																]
															}
														}
													}
												}
											]
										}
									}
								}
							},
							aggs:{
								colors: {
									terms: { field: 'color' }
								},
								skus: {
									nested: {
										path: 'skus'
									},									
									aggs: {
										with_stock: { // we need to filter since the filter query on top level does not exclude nested objects
											filter: {
												range: {
													'skus.stock': {
														gt: 0
													}
												}
											},
											aggs: {
												sizes: {
													terms: { field: 'skus.size' },
													aggs: {
														shirts_count: {
															reverse_nested: {} // this is only required if there are multiple skus with the same size (this happens if color is part of the sku document)											
														}											
													}		
												},
												prices: {
													range: {
														field: 'skus.price',
														ranges: [
															{ to : 20 },
															{ from: 20, to: 40 },
															{ from: 40, to: 60 },
															{ from: 60 }
														]
													}
												}		
											}																												
										}																															
									}									
								}								
							}
						}
					}).then(function(resp){
						$scope.searchResult = resp;
					});	
				}
				
				$scope.setColor = function(color){
					$scope.color = color;
					$scope.search();
				}
				
				$scope.removeColor = function(color){
					$scope.color = null;
					$scope.search();
				}
				
				$scope.setSize = function(size){
					$scope.size = size;
					$scope.search();
				}
				
				$scope.removeSize = function(size){
					$scope.size = null;
					$scope.search();
				}
				
				$scope.setPrice = function(price){
					$scope.price = price;
					$scope.search();
				}
				
				$scope.removePrice = function(price){
					$scope.price = null;
					$scope.search();
				}	
				
				$scope.search();	
			});			
  		</script>		
	</body>
</html>