<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	</head>
	<body ng-app="GlobalSearchApp">
		
  		<div ng-controller="MainController" class="container">
										
			<h2 class="text-muted" style="margin-bottom: 40px">Global search example</h2>	
			
			<form class="form-inline" ng-submit="search()" style="margin-bottom: 40px">						
				<input ng-model="q" type="text" class="form-control">
				<input class="btn btn-primary" type="submit" value="search" />													
			</form>
			
			<ul class="nav nav-tabs" style="margin-bottom: 20px">
				<li role="presentation" ng-class="{active: !type}">
					<a href="#">all ({{searchResult.hits.total}})</a>
				</li>				
				<li ng-repeat="bucket in searchResult.aggregations.types.buckets" role="presentation" ng-class="{ active: type === bucket.key }">
					<a href="#">{{bucket.key}} ({{bucket.doc_count}})</a>
				</li>
			</ul>
			
			<div ng-repeat-start="hit in searchResult.hits.hits"></div>
				
				<!-- page -->
				<div ng-if="hit._type === 'pages'" style="margin-bottom: 10px">					
					<h4 class="media-heading">{{hit._source.title}}</h4>
					<p ng-if="hit.highlight.body" ng-bind-html="hit.highlight.body[0] | unsafe"></p>
					<p ng-if="!hit.highlight">{{hit._source.body | limitTo: 300}}</p>					
				</div>
				
				<!-- news -->
				<div class="media" ng-if="hit._type === 'news'">
					<div class="media-left">
						<a href="#">
						<img class="media-object" ng-src="hit._source.img" data-holder-rendered="true" style="width: 64px; height: 64px;">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{hit._source.title}}</h4>
						
						{{hit._source}}
					</div>
				</div>

				<!-- vacancy -->
				<div ng-if="hit._type === 'vacancies'">					
					<h4 class="media-heading">{{hit._source.title}}</h4>
					<p ng-bind-html="hit.highlight.description[0] | unsafe | limitTo: 100"></p>
					{{hit._source}}
				</div>
											
			<div ng-repeat-end></div>								  						  															
		</div>
			
		<script src="../bower_components/angular/angular.js"></script>
  		<script src="../bower_components/elasticsearch/elasticsearch.angular.js"></script>
		  
		<script>
			
			var GlobalSearchApp = angular.module('GlobalSearchApp', ['elasticsearch']);						
			
			GlobalSearchApp.controller('MainController', function ($scope, client, esFactory) {																														
				
				$scope.search = function(){								
					client.search({
						index: 'demo',
						type: 'pages',
						body:{
							query: {
								filtered: {
									query: ($scope.q ? 
									{
										bool: {
											should: [
												{ match: { title: { query: $scope.q, boost: 2 } }},
												{ match: { body: $scope.q }}												
											]
										}
									} : 
									{
										match_all : {}
									}),
									filter: {
										bool: {
											must: [
												{
													term: ($scope.type ? 
													{
														_type: $scope.type 
													} : 
														undefined
													)
												}
											]
										}
									}
								}
							},
							highlight: {
								pre_tags : ["<strong>"],
        						post_tags : ["</strong>"],
								fields: {
									title: {},
									body: {
										fragment_size: 300
									},									
								}
							},
							aggs:{
								types: {
									terms: { field: '_type' }
								}									
							}
						}
					}).then(function(resp){
						$scope.searchResult = resp;
					});	
				}
				
				$scope.setType = function(type){
					$scope.type = type;
					$scope.search();
				}
				
				$scope.removeType = function(type){
					$scope.type = null;
					$scope.search();
				}													
				
				$scope.search();	
			});							
			
			GlobalSearchApp.service('client', function (esFactory) {
				return esFactory({
					host: 'localhost:9200'								
				});
			});
			
			GlobalSearchApp.filter('unsafe', function($sce) {return $sce.trustAsHtml; });
					
  		</script>		
	</body>
</html>